<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <meta
      name="description"
      content="Are Images Real? - A tour of visual manipulation from darkroom to AI"
    />
    <title>
      Are Images Real? - A tour of visual manipulation from darkroom to AI
    </title>
    <link rel="stylesheet" href="style.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="grid.js"></script>
    <script src="utils.js"></script>
    <script>
      let controller;
      const eventScenes = {};
      const eraScenes = {};
      let yearRange = [];
      const gridSize = 32;
      function currentPage() {
        return location.hash.substr(1) || "home";
      }
      function setPage(newPage) {
        if (newPage) {
          location.hash = newPage;
        } else {
          newPage = currentPage();
        }
        const classes = document.getElementsByTagName("body")[0].classList;
        classes.remove(
          Array.from(classes).filter((c) => c.startsWith("page-"))
        );
        classes.add(`page-${newPage}`);
        scrollTo(0, 0);
        gridify(false, gridSize);
      }
      function setEraDurations() {
        for (era in eraScenes) {
          el = elementFromEra(era);
          eraScenes[era].duration(el.clientHeight + gridSize * 3);
        }
      }
      function erasToTimelineHeights(eras) {
        return eras.map((e) => [
          yearToPct(e.first_year),
          yearToPct(e.last_year),
        ]);
      }
      function jumpToEvent(event) {
        /* Move a little beyond the top of the scene because 
        otherwise the "enter" event doesn't fire.*/
        controller.scrollTo(eventScenes[event.id].scrollOffset() + 40);
      }
      function elementFromEvent(event) {
        return document.getElementById(`event${event.id}`);
      }
      function elementFromEra(era) {
        return document.getElementById(`era${era}`);
      }
      function yearToPct(year) {
        year = parseInt(year);
        if (year === yearRange[1]) {
          return 1.0;
        }
        return (year - yearRange[0]) / (yearRange[1] - yearRange[0]);
      }
      function setEraActive(era) {
        const classes = document.getElementById("container").classList;
        classes.remove(
          Array.from(classes).filter((c) => c.startsWith("activeEra"))
        );
        classes.add(`activeEra${era}`);
      }
      function jumpToEra(era) {
        if (currentPage() === "timeline") {
          controller.scrollTo(eraScenes[era].scrollOffset() + 10);
        } else {
          /* The whole thing rerenders when the page changes, 
          and we want to wait for that to happen before we scroll.
          This does that.*/
          eraScenes[era].on("shift", () => {
            controller.scrollTo(eraScenes[era].scrollOffset() + 10);
            eraScenes[era].off("shift");
          });
          setPage("timeline");
        }
        setEraActive(era);
      }
      function setupEraScrolling(era) {
        const el = document.getElementById(`era${era.era}`);
        scene = new ScrollMagic.Scene({
          triggerElement: el,
          offset: -20,
          triggerHook: 0.1,
        });
        eraScenes[era.era] = scene;
        scene
          //.addIndicators()
          .on("enter", () => {
            if (el.clientHeight > 0) {
              setEraActive(era.era);
            }
          })
          .addTo(controller);
      }
      function setupEventScrolling(event, onEnter, onLeave) {
        const el = elementFromEvent(event);
        const scene = new ScrollMagic.Scene({
          triggerElement: el,
          offset: -20,
          triggerHook: 0.25,
        });
        eventScenes[event.id] = scene;
        scene
          //.addIndicators()
          .on("enter", () => {
            if (el.clientHeight > 0) {
              onEnter(event, el);
            }
          })
          .on("leave", onLeave)
          .addTo(controller);
      }
      function onLoad() {
        document.querySelector("body").classList.remove("loading");
        gridify(false, gridSize);
      }
    </script>
  </head>

  <body class="page-home loading" v-scope @vue:mounted="onLoad">
    <div id="topBar">
      <a href="#about" id="link-about"> /about </a>
      <a id="link-home" href="#home" aria-label="home">
        <svg viewBox="0 96 960 960" width="32" height="32" aria-hidden="true">
          <path d="M160 936V456l320-240 320 240v480H560V656H400v280H160Z" />
        </svg>
      </a>
      <button id="link-menu" @click="state.toggleMobileMenu">menu</button>
    </div>

    <div id="container" class="activeEra1">
      <div id="eraMenu" style="display: none">
        <a
          href="#timeline"
          v-for="era in eras"
          :class="`${era.color}Backed`"
          @click.prevent="jumpToEra(era.era)"
        >
          {{era.first_year}} &ndash; {{era.last_year}}:<br />
          {{era.slug}}
        </a>
      </div>

      <div id="page-about">
        <div class="title orangeBacked box">
          How did we get here? Image manipulation, from darkroom to AI
        </div>
        <div id="aboutContent" class="box yellowBacked" v-html="s.about"></div>
        <div class="gridded background"></div>
      </div>

      <div id="page-timeline">
        <div id="mobile">
          <div id="mobileMenu" v-show="state.mobileMenuVisible">
            <a
              href="#timeline"
              v-for="era in eras"
              :class="`${era.color}Backed`"
              @click.prevent="jumpToEra(era.era); state.toggleMobileMenu()"
            >
              {{era.first_year}} &ndash; {{era.last_year}}: {{era.slug}}
            </a>
          </div>
          <div
            id="mobileContext"
            v-show="!!state.currentEvent.year && !state.mobileMenuVisible"
          >
            {{state.currentEvent.year}}
            <span v-for="tag in state.currentEvent.tags" class="tagIcon"
              >{{tag.icon}}</span
            >
          </div>
        </div>
        <div id="fixedContent">
          <div id="eraTimeline">
            <div
              v-for="era in eras"
              :class="['box', `${era.color}Backed`]"
              id="`era${era.era}Box`"
              :style="{height: `${era.height * 100}%`}"
            ></div>
            <div id="firstLabel">{{eras[0].first_year}}</div>
            <div id="lastLabel">{{eras[eras.length - 1].last_year}}</div>
            <div
              id="year"
              class="box"
              :style="{
        top: `clamp(0vh, calc(${
          yearToPct(state.currentEvent.year) * 100
        }vh - 1.5rem), calc(100vh - 4rem))`}"
            >
              {{state.currentEvent.year}}
            </div>
          </div>
          <nav id="nav">
            <div id="context">
              <div id="legend" class="box">
                <button
                  v-for="tag in tags"
                  :class="['tag', 'box', {selected: state.selectedTags.includes(tag.tag) }]"
                  @click="state.toggleTag(tag.tag)"
                  tabindex="0"
                >
                  <span class="tagIcon">{{tag.icon}}</span>{{tag.name}}
                </button>
              </div>
            </div>

            <div
              v-for="era in eras"
              :id="`era${era.era}Nav`"
              :class="['imageContainer','box',`${era.color}Backed`]"
            >
              <div class="imageGrid box">
                <div class="eraName">{{era.slug}}</div>
                <button
                  v-for="(event, i) in eraEvents(era.era)"
                  :class="['imageThumb', { showing: event.id === state.currentEvent.id}]"
                  :id="`thumb-event${event.id}`"
                  :aria-label="`Jump to ${event.title}`"
                  tabindex="0"
                  @click="jumpToEvent(event)"
                  @keyup.enter="jumpToEvent(event)"
                  @mouseenter="state.setHoveredEvent(event)"
                  @mouseleave="state.setHoveredEvent({})"
                >
                  <img
                    :src="event.image_url"
                    :class="{hidden: !hasSelectedTag(event)}"
                    :alt="event.title"
                  />
                </button>
              </div>
            </div>
          </nav>
        </div>

        <div id="timeline" class="box">
          <div id="border"></div>
          <div id="events">
            <div
              v-for="era in eras"
              class="era"
              :id="`era${era.era}`"
              @vue:mounted="setupEraScrolling(era)"
            >
              <h4>PART {{era.era}}</h4>
              <h3>{{era.title}}</h3>
              <ol>
                <li
                  v-for="event in eraEvents(era.era)"
                  :id="`event${event.id}`"
                  class="event"
                  @vue:mounted="setupEvent(event)"
                >
                  <button
                    class="eventImage"
                    tabindex="0"
                    @click="state.setSelectedImage(event.image_url)"
                    @keyup.enter="state.setSelectedImage(event.image_url)"
                  >
                    <img :src="event.image_url" :alt="event.title" />
                  </button>
                  <div class="eventData">
                    <div class="eventTitle">
                      {{event.title}}
                      <span v-for="tag in event.tags" class="tagIcon"
                        >{{tag.icon}}</span
                      >
                    </div>
                    <p class="eventText" v-html="event.text"></p>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="gridded background"></div>
        <button
          id="link-eraTop"
          class="box"
          v-show="!!state.currentEvent.year"
          @click.prevent="jumpToEra(state.currentEvent.era)"
          @keyup.enter="jumpToEra(state.currentEvent.era)"
          title="Jump to top of era"
        >
          <svg aria-hidden="true">
            <defs>
              <marker
                id="head"
                orient="auto"
                markerWidth="3"
                markerHeight="4"
                refX="0.1"
                refY="2"
              >
                <path d="M0,0 V4 L3,2 Z" fill="black" />
              </marker>
            </defs>

            <path
              id="arrow-line"
              marker-end="url(#head)"
              fill="none"
              stroke="black"
              stroke-width="3"
              d="M18,30, 18 14"
            ></path>
          </svg>
        </button>
      </div>

      <div id="page-home">
        <div class="gridded background"></div>
        <div class="box" id="hTitle">
          <h1>{{s.title}}</h1>
        </div>
        <div class="box" id="hSubtitle">
          <h2>{{s.subtitle}}</h2>
        </div>
        <div class="box" id="hEnticement">
          <p v-html="s.enticement"></p>
        </div>
        <div class="box" id="hOverview" v-html="s.overview"></div>
        <div class="box" id="hExample">
          <img :src="s.example_img" :alt="s.example_img_alt" />
          <p>{{s.example}}</p>
        </div>
        <a
          href="#timeline"
          id="startTimeline"
          class="box"
          aria-label="view timeline"
        >
          <svg aria-hidden="true">
            <defs>
              <marker
                id="rightHead"
                orient="auto"
                markerWidth="3"
                markerHeight="4"
                refX="0.1"
                refY="2"
              >
                <path d="M0,0 V4 L2,2 Z" fill="black" />
              </marker>
            </defs>

            <path
              id="arrow-line"
              marker-end="url(#rightHead)"
              fill="none"
              stroke="black"
              stroke-width="3"
              d="M20,45, 65 45"
            ></path>
          </svg>
        </a>
      </div>
      <div
        id="lightbox"
        v-show="Object.keys(state.selectedImage).length > 0"
        @click="state.setSelectedImage(null)"
        @keyup.enter="state.setSelectedImage(null)"
      >
        <img v-if="!!state.selectedImage.src" :src="state.selectedImage.src" />
        <button
          id="lightboxClose"
          @click="state.setSelectedImage(null)"
          tabindex="0"
          @keyup.enter="state.setSelectedImage(null)"
        >
          Close
        </button>
      </div>
      <div
        id="bigYear"
        v-text="state.hoveredEvent.year"
        :class="{ hidden: !state.hoveredEvent || state.hoveredEvent.id === state.currentEvent.id }"
      ></div>
    </div>

    <script type="module">
      import { createApp, reactive } from "https://unpkg.com/petite-vue?module";
      const state = reactive({
        currentEvent: {},
        setCurrentEvent: function (event) {
          this.currentEvent = event;
        },
        hoveredEvent: {},
        setHoveredEvent: function (event) {
          this.hoveredEvent = event;
        },
        selectedTags: [],
        toggleTag: function (tag) {
          // Vue can't handle Sets as state, so convert to object and back.
          let tags = new Set(this.selectedTags);
          if (tags.has(tag)) {
            tags.delete(tag);
          } else {
            tags.add(tag);
          }
          this.selectedTags = Array.from(tags.values());
        },
        hovering: false,
        toggleHovering: function () {
          this.hovering = !this.hovering;
        },
        selectedImage: {},
        setSelectedImage: function (url) {
          if (url === null) {
            this.selectedImage = {};
          } else {
            this.selectedImage = { src: url };
            document.getElementById("lightboxClose").focus();
          }
        },
        mobileMenuVisible: false,
        toggleMobileMenu: function () {
          this.mobileMenuVisible = !this.mobileMenuVisible;
        },
      });

      function populateApp(timeline, eras, tags, strings) {
        eras = parseCSVtoObjects(eras);
        yearRange = [
          parseInt(eras[0].first_year),
          parseInt(eras[eras.length - 1].last_year),
        ];
        const heights = erasToTimelineHeights(eras);
        let heightSoFar = 0;
        eras.forEach((e, i) => {
          e.height = heights[i][1] - heightSoFar;
          heightSoFar = heights[i][1];
        });
        tags = parseCSVtoObjects(tags);
        let events = parseCSVtoObjects(timeline).map((e, i) => {
          e.id = i;
          e.tags = tags.filter((t) => e[t.tag] === "1");
          return e;
        });
        strings = Object.fromEntries(
          parseCSVtoObjects(strings).map((r) => [r.name, r.text])
        );
        console.log(events);
        console.log(eras);
        console.log(tags);

        controller = new ScrollMagic.Controller({});

        createApp({
          state: state,
          events: events,
          eras: eras,
          tags: tags,
          s: strings,
          eraEvents(i) {
            return this.events.filter((e) => e.era === i);
          },
          setupEvent(event) {
            setupEventScrolling(event, this.activateEvent);
          },
          activateEvent(event, el) {
            this.state.setCurrentEvent(event);
            /* Sometimes this event runs even though the events are hidden.
            Just don't do that. */
            eventScenes[event.id].duration(el.clientHeight + gridSize * 3);
            setEraDurations();
          },
          hasSelectedTag(event) {
            if (this.state.selectedTags.length === 0) {
              return true;
            }
            tags = new Set(this.state.selectedTags);
            return !!event.tags.find((t) => tags.has(t.tag));
          },
        }).mount();

        addEventListener("hashchange", () => setPage());
        setPage();
      }

      const timelineURL =
        "https://docs.google.com/spreadsheets/d/1fpHxE_ketMRAzXCKKmMwXxHpvdlT8GNdPWeugIUZ0D0/gviz/tq?tqx=out:csv";
      const erasURL =
        "https://docs.google.com/spreadsheets/d/1fpHxE_ketMRAzXCKKmMwXxHpvdlT8GNdPWeugIUZ0D0/gviz/tq?gid=1115017889&tqx=out:csv";
      const tagsURL =
        "https://docs.google.com/spreadsheets/d/1fpHxE_ketMRAzXCKKmMwXxHpvdlT8GNdPWeugIUZ0D0/gviz/tq?gid=359238604&tqx=out:csv";
      const stringsURL =
        "https://docs.google.com/spreadsheets/d/1fpHxE_ketMRAzXCKKmMwXxHpvdlT8GNdPWeugIUZ0D0/gviz/tq?gid=1102126140&tqx=out:csv";

      Promise.all([
        fetch(timelineURL),
        fetch(erasURL),
        fetch(tagsURL),
        fetch(stringsURL),
      ])
        .then((responses) => Promise.all(responses.map((r) => r.text())))
        .then((texts) => {
          if (document.readyState === "loading") {
            document.addEventListener(
              "DOMContentLoaded",
              populateApp(...texts)
            );
          } else {
            populateApp(...texts);
          }
        });
    </script>
  </body>
</html>
