<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="style.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="grid.js"></script>
    <script src="utils.js"></script>
    <script>
      let controller;
      const eventScenes = {};
      const eraScenes = {};
      let yearRange = [];
      function currentPage() {
        return location.hash.substr(1) || "home";
      }
      function setPage(newPage) {
        if (newPage) {
          location.hash = newPage;
        } else {
          newPage = currentPage();
        }
        document.querySelector("body").setAttribute("class", `page-${newPage}`);
        scrollTo(0, 0);
        gridify();
      }
      function setEraDurations() {
        for (era in eraScenes) {
          el = elementFromEra(era);
          eraScenes[era].duration(el.clientHeight + 24 * 3);
        }
      }
      function erasToTimelineHeights(eras) {
        return eras.map((e) => [
          yearToPct(e.first_year),
          yearToPct(e.last_year),
        ]);
      }
      function jumpToEvent(event) {
        /* Move a little beyond the top of the scene because 
        otherwise the "enter" event doesn't fire.*/
        controller.scrollTo(eventScenes[event.id].scrollOffset() + 10);
      }
      function elementFromEvent(event) {
        return document.getElementById(`event${event.id}`);
      }
      function elementFromEra(era) {
        return document.getElementById(`era${era}`);
      }
      function yearToPct(year) {
        year = parseInt(year);
        if (year === yearRange[1]) {
          return 1.0;
        }
        return (year - yearRange[0]) / (yearRange[1] - yearRange[0]);
      }
      function setEraActive(era) {
        const classes = document.getElementById("container").classList;
        classes.remove(
          Array.from(classes).filter((c) => c.startsWith("activeEra"))
        );
        classes.add(`activeEra${era}`);
      }
      function jumpToEra(era, e) {
        if (e) {
          e.preventDefault();
        }
        if (currentPage() === "timeline") {
          controller.scrollTo(eraScenes[era].scrollOffset() + 10);
        } else {
          /* The whole thing rerenders when the page changes, 
          and we want to wait for that to happen before we scroll.
          This does that.*/
          eraScenes[era].on("shift", () => {
            controller.scrollTo(eraScenes[era].scrollOffset() + 10);
            eraScenes[era].off("shift");
          });
          setPage("timeline");
        }
        setEraActive(era);
      }
      function setupEraScrolling(era) {
        const el = document.getElementById(`era${era.era}`);
        scene = new ScrollMagic.Scene({
          triggerElement: el,
          offset: -20,
          triggerHook: 0.0,
        });
        eraScenes[era.era] = scene;
        scene
          .addIndicators()
          .on("enter", () => {
            if (el.clientHeight > 0) {
              setEraActive(era.era);
            }
          })
          .addTo(controller);
      }
      function setupEventScrolling(event, onEnter, onLeave) {
        const el = elementFromEvent(event);
        const scene = new ScrollMagic.Scene({
          triggerElement: el,
          offset: -20,
          triggerHook: 0.15,
        });
        eventScenes[event.id] = scene;
        scene
          .addIndicators()
          .on("enter", () => {
            if (el.clientHeight > 0) {
              onEnter(event, el);
            }
          })
          .on("leave", onLeave)
          .addTo(controller);
      }
      /*
      addEventListener("wheel", (e) => {
        if (currentPage() !== "timeline") {
          return;
        }
        document
          .getElementById("timeline")
          .scrollBy({ top: e.deltaY, behavior: "auto" });
      });
      */
    </script>
  </head>

  <body class="page-home">
    <div id="topBar">
      <a href="#about" id="link-about"> /about </a>
      <a id="link-home" href="#home">
        <svg height="1rem" viewBox="0 96 960 960" width="48">
          <path d="M160 936V456l320-240 320 240v480H560V656H400v280H160Z" />
        </svg>
      </a>
    </div>

    <div id="container" class="gridded activeEra1" v-scope>
      <div id="eraTimeline">
        <div
          v-for="era in eras"
          :class="['box', `${era.color}Backed`]"
          id="`era${era.era}Box`"
          :style="{height: `${era.height * 100}%`}"
        ></div>
        <div
          id="year"
          class="box"
          :style="{
        top: `clamp(0vh, calc(${
          yearToPct(state.currentEvent.year) * 100
        }vh - 1.5rem), calc(100vh - 5rem))`}"
        >
          {{state.currentEvent.year}}
        </div>
      </div>

      <div id="eraMenu" style="display: none">
        <a
          href="#timeline"
          v-for="era in eras"
          :class="`${era.color}Backed`"
          @click="jumpToEra(era.era, $event)"
        >
          {{era.first_year}} &ndash; {{era.last_year}}:<br />
          {{era.slug}}
        </a>
      </div>

      <div id="page-about">
        <div class="title orangeBacked box">
          How did we get here? Image manipulation, from darkroom to AI
        </div>
        <div
          class="box yellowBacked"
          style="margin-left: 12rem; width: 18rem"
          v-html="s.about"
        ></div>
      </div>

      <div id="page-timeline">
        <div id="nav">
          <div id="context">
            <div id="legend" class="box">
              <div class="box">Legend entry 1</div>
              <div class="box">Legend entry 2</div>
              <div class="box">Legend entry 3</div>
            </div>
          </div>

          <div
            v-for="era in eras"
            :id="`era${era.era}Nav`"
            :class="['imageContainer','box',`${era.color}Backed`]"
          >
            <div class="imageGrid box">
              <div
                v-for="(event, i) in eraEvents(era.era)"
                :class="['imageThumb', { showing: event.id === state.currentEvent.id}]"
                :id="`thumb-event${event.id}`"
                @click="jumpToEvent(event)"
              >
                <img :src="event.image_url" />
              </div>
            </div>
          </div>
        </div>

        <div id="timeline" class="box">
          <div id="events">
            <div
              v-for="era in eras"
              class="era"
              :id="`era${era.era}`"
              @vue:mounted="setupEraScrolling(era)"
            >
              <h4>PART {{era.era}}</h4>
              <h3>{{era.title}}</h3>
              <ol>
                <li
                  v-for="event in eraEvents(era.era)"
                  :id="`event${event.id}`"
                  class="event"
                  @vue:mounted="setupEvent(event)"
                >
                  <div class="eventImage">
                    <img :src="event.image_url" />
                  </div>
                  <div class="eventData">
                    <div class="eventTitle">{{event.title}}</div>
                    <p class="eventText">{{event.text}}</p>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div id="page-home">
        <div
          class="box"
          style="
            width: calc(24rem + 2px);
            margin-left: 1rem;
            margin-top: 0rem;
            height: calc(5rem + 1px);
          "
        >
          <h1>{{s.title}}</h1>
        </div>
        <div
          class="box"
          style="
            width: calc(28rem + 2px);
            margin-left: 2rem;
            margin-top: calc(1rem - 1px);
            height: calc(3rem + 1px);
          "
        >
          <h2>{{s.subtitle}}</h2>
        </div>
        <div
          class="box"
          style="
            width: calc(21rem + 2px);
            margin-left: 8rem;
            margin-top: calc(2rem - 1px);
            height: calc(4rem + 1px);
          "
        >
          <p v-html="s.enticement"></p>
        </div>

        <div
          class="box"
          style="
            width: calc(21rem + 2px);
            margin-left: 4rem;
            margin-top: calc(4rem - 1px);
            height: calc(26rem + 1px);
          "
          v-html="s.overview"
        ></div>

        <div
          class="box"
          style="
            width: calc(28rem + 2px);
            margin-left: 2rem;
            margin-top: calc(2rem - 1px);
            margin-bottom: 1rem;
            height: calc(14rem + 1px);
          "
        >
          <img
            :src="s.example_img"
            style="
              display: inline-block;
              width: 40%;
              vertical-align: top;
              margin-top: 1rem;
            "
          />
          <p
            style="
              display: inline-block;
              width: 48%;
              border-left: 2px solid black;
              padding: 0.5rem 0 0.5rem 1rem;
              margin-left: 1rem;
            "
          >
            {{s.example}}
          </p>

          <a href="#timeline" id="startTimeline" class="box">
            <svg>
              <defs>
                <marker
                  id="head"
                  orient="auto"
                  markerWidth="3"
                  markerHeight="4"
                  refX="0.1"
                  refY="2"
                >
                  <path d="M0,0 V4 L2,2 Z" fill="black" />
                </marker>
              </defs>

              <path
                id="arrow-line"
                marker-end="url(#head)"
                fill="none"
                stroke="black"
                stroke-width="3"
                d="M15,35, 50 35"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <script type="module">
      import { createApp, reactive } from "https://unpkg.com/petite-vue?module";
      const state = reactive({
        currentEvent: {},
        setCurrentEvent: function (event) {
          this.currentEvent = event;
        },
      });

      function populateApp(timeline, eras, strings) {
        eras = parseCSVtoObjects(eras);
        yearRange = [
          parseInt(eras[0].first_year),
          parseInt(eras[eras.length - 1].last_year),
        ];
        const heights = erasToTimelineHeights(eras);
        let heightSoFar = 0;
        eras.forEach((e, i) => {
          e.height = heights[i][1] - heightSoFar;
          heightSoFar = heights[i][1];
        });
        let events = parseCSVtoObjects(timeline).map((e, i) => {
          e.id = i;
          return e;
        });
        strings = Object.fromEntries(
          parseCSVtoObjects(strings).map((r) => [r.name, r.text])
        );
        console.log(events);
        console.log(eras);

        controller = new ScrollMagic.Controller({
          container: "#timeline",
        });

        createApp({
          state: state,
          events: events,
          eras: eras,
          s: strings,
          eraEvents(i) {
            return this.events.filter((e) => e.era === i);
          },
          setupEvent(event) {
            setupEventScrolling(event, this.activateEvent);
          },
          activateEvent(event, el) {
            this.state.setCurrentEvent(event);
            /* Sometimes this event runs even though the events are hidden.
            Just don't do that. */
            eventScenes[event.id].duration(el.clientHeight + 24 * 3);
            setEraDurations();
          },
        }).mount("#container");

        gridify(false);
        addEventListener("hashchange", () => setPage());
        setPage();
      }

      const timelineURL =
        "https://docs.google.com/spreadsheets/d/1fpHxE_ketMRAzXCKKmMwXxHpvdlT8GNdPWeugIUZ0D0/gviz/tq?tqx=out:csv";
      const erasURL =
        "https://docs.google.com/spreadsheets/d/1fpHxE_ketMRAzXCKKmMwXxHpvdlT8GNdPWeugIUZ0D0/gviz/tq?gid=1115017889&tqx=out:csv";
      const stringsURL =
        "https://docs.google.com/spreadsheets/d/1fpHxE_ketMRAzXCKKmMwXxHpvdlT8GNdPWeugIUZ0D0/gviz/tq?gid=1102126140&tqx=out:csv";

      Promise.all([fetch(timelineURL), fetch(erasURL), fetch(stringsURL)])
        .then((responses) => Promise.all(responses.map((r) => r.text())))
        .then((texts) => {
          if (document.readyState === "loading") {
            document.addEventListener(
              "DOMContentLoaded",
              populateApp(...texts)
            );
          } else {
            populateApp(...texts);
          }
        });
    </script>
  </body>
</html>
