/** Variables **/
:root {
  --yellow: #fef287;
  --orange: #ffcd93;
  --magenta: #f5b7ff;
  font-size: 24px;
}
/** End Variables **/

/** Fonts **/
@font-face {
    font-family: 'gloockregular';
    src: url('gloock-regular-webfont.woff2') format('woff2'),
         url('gloock-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1, h2, h3, h4, h5, h6, #link-about, .title {
  font-family: 'gloockregular';
}
/** End Fonts **/

/** Colors **/
.yellowBacked {
  background-color: var(--yellow) !important;
}
.orangeBacked {
  background-color: var(--orange) !important;
}
.magentaBacked {
  background-color: var(--magenta) !important;
}
/** End Colors **/

/** General elements **/
html,
body {
  height: 100%;
  font-family: "Times New Roman", "serif";
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  line-height: 18px;
}
button {
  font-family: "Times New Roman", "serif";
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 2.0rem;
  text-align: center;
  margin-top: 1.8rem;
}
h2 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.7rem;
}
p:first-child {
  margin-top: 0.2rem;
}
/** End General elements **/

/** Paging **/
.page-home #page-about {
  display: none;
}
.page-home #page-timeline {
  display: none;
}
.page-about #page-home {
  display: none;
}
.page-about #page-timeline {
  display: none;
}
.page-timeline #page-home {
  display: none;
}
.page-timeline #page-about {
  display: none;
}
/** End Paging **/

/** Page-specific changes **/
.page-about #eraMenu{
  display: none;
}
.page-about #topBar{
  background-color: var(--magenta);
  /*border: 2px solid black;
  border-width: 2px 0;
  box-sizing: border-box;
  */
}
.page-timeline {
  overflow-y: hidden;
}
.page-timeline #timeline {
  height: 100vh;
  overflow-y: scroll;
}
.page-home #container {
  padding-top: 1rem;
}
/** End Page-specific changes **/


/** Top bar **/
#topBar {
  height: 2rem;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
}
#topBar > * {
  margin-top: 0.6rem;
}
/** End Top bar **/

/** Containers **/
#container {
  margin: 0 3rem;
  padding-top: 0;
  padding-bottom: 1rem;
  width: 770px;
  min-height: calc(100vh - 3rem);
}
.box {
  background-color: white;
  border: 2px solid black;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}
/** End Containers **/

/** Era menu **/
#eraMenu {
  position: absolute;
  right: calc(-3rem + 1px);
  top: 0;
  width: 5rem;
  z-index: 2;
}
#eraMenu .showing {
  width: 6rem;
  right: 1rem;
}
#eraMenu a {
  display: block;
  border: 2px solid black;
  border-radius: 0;
  color: black;
  position: relative;
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  box-sizing: border-box;
  text-align: left;
  padding: 0.3rem 0.2rem;
  height: calc(2rem + 1px);
}
#eraMenu a:nth-child(2) {
  bottom: 2px;
  height: calc(2rem + 2px);
}
#eraMenu a:nth-child(3) {
  bottom: 4px;
  height: calc(2rem + 2px);
}
.activeEra1 #eraMenu a:first-child {
  width: 5.5rem;
  right: 0.5rem;
}
.activeEra2 #eraMenu a:nth-child(2) {
  width: 5.5rem;
  right: 0.5rem;
}
.activeEra3 #eraMenu a:nth-child(3) {
  width: 5.5rem;
  right: 0.5rem;
}
/** End Era menu **/

/** Timeline of events **/
#timeline {
  width: calc(16rem + 2px);
  margin-left: 14rem;
  position: relative;
  top: calc(-22rem - 2px);
  padding: 1rem;
  scrollbar-width: none;
}
#timeline img {
  max-width: 14rem;
}

.era {
  padding-top: 1rem;
}

#events {
  padding-bottom: 8rem;
}
#events ol {
    list-style: none;
    padding: 0;
}
.event {
  margin: 3rem 0rem;
}
.eventImage {
  margin-bottom: 0.5rem;
}
.eventTitle {
  font-family: "gloockregular", serif;
  font-size: 0.7rem;
}
/** End Timeline of events **/

/** Event context **/
#context {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 14rem;
    height: 3rem;
}

#context .box {
    padding: 0;
    border-width: 1px;
}
#legend {
  grid-column: 1/10;
  grid-row: 1/4;
  height: 100%;
  display: grid;
}
#legend .box {
  grid-column: 1;
}
#year {
    grid-column: 10/15;
    grid-row: 1/4;
    font-family: gloockregular;
    font-size: 1.7rem;
    text-align: center;
    line-height: 3.2rem;
}
.activeEra1 #year {
  background-color: var(--yellow);
}
.activeEra2 #year {
  background-color: var(--orange);
}
.activeEra3 #year {
  background-color: var(--magenta);
}
/** End Event context **/

/** Image grid nav **/
.imageContainer {
    height: calc(6.5rem + 1px);
    width: calc(14rem + 1px);
    margin: 0;
    padding: 0.5rem 1rem 0;
    border-right-width: 1px;
}
.imageGrid {
  height: 6rem;
  width: 12rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
}
.imageThumb {
  border: 1px solid black;
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.imageThumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
  filter: grayscale(100%);
}
.imageThumb:hover img, .imageThumb.showing img{
  filter: grayscale(0%);
  opacity: 1.0 !important;
}

#era2Nav {
  padding-top: 0;
  height: 6rem;
  border-top-width: 0;
}
#era2Nav .box {
  border-bottom-width: 0;
}

#era3Nav {
  padding-top: 0;
  padding-bottom: 0.5rem;
  border-top-width: 0;
}
#era2Nav .box, #era3Nav .box {
  border-top-width: 0;
}

/** End Image grid nav **/


/** To be organized **/
.gridded {
  position: relative;
}
canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

#startTimeline {
  width: calc(3rem + 2px);
  height: calc(3rem + 1px);
  padding: 0;
  position: absolute;
  right: calc(-1rem - 1px);
  bottom: 2rem;
  overflow: hidden;
}
#startTimeline svg {
  width: 3rem;
  height: 3rem;
}

.title {
  width: 770px;
  height: calc(1rem + 2px);
  padding: 3px 0.5rem;
  font-size: 0.6rem;
  margin-bottom: calc(1rem - 1px);
}