/** Variables **/
:root {
  --yellow: #fef287;
  --lightYellow: #fffdef;
  --orange: #ffcd93;
  --lightOrange: #fff9f2;
  --magenta: #f5b7ff;
  --lightMagenta: #fdf4ff;
  --unit: 32px;
  --ncols: 32;
  font-size: var(--unit);
}
/** End Variables **/

/** Fonts **/
@font-face {
  font-family: 'gloockregular';
  src: url('gloock-regular-webfont.woff2') format('woff2'),
        url('gloock-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
h1, h2, h3, h4, h5, h6, #link-about, #link-menu, .title {
  font-family: 'gloockregular';
}
/** End Fonts **/

/** Colors **/
.yellowBacked {
  background-color: var(--yellow) !important;
}
.orangeBacked {
  background-color: var(--orange) !important;
}
.magentaBacked {
  background-color: var(--magenta) !important;
}
/** End Colors **/

/** General elements **/
html,
body {
  font-family: "Times New Roman", "serif";
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
  line-height: 1.5;
}
html {
  transition: transform 1s ease-in;
}
html:hover img {
	animation: puff-out-center 150ms ease-in both;
}
button {
  font-family: "Times New Roman", "serif";
  background: transparent;
  padding: 0;
  border: 0;
  font-size: 1em;
  cursor: pointer;
  display: block;
  margin: 0;
  width: 100%;
  text-align: left;
  display: inline-flex;
  line-height: 1.5;
}
a {
  color: black;
}
h1 {
  font-size: 2.0rem;
  text-align: center;
  margin-top: 1rem;
  line-height: 1.2;
}
h2 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.1rem;
  line-height: 1.2;
}
img {
}
.hidden {
  display: none;
}
/** End General elements **/

/** Paging **/
.page-home #page-about {
  display: none;
}
.page-home #page-timeline {
  display: none;
}
.page-about #page-home {
  display: none;
}
.page-about #page-timeline {
  display: none;
}
.page-timeline #page-home {
  display: none;
}
.page-timeline #page-about {
  display: none;
}
/** End Paging **/

/** Loading **/
#loading {
  font-family: gloockregular;
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
  width: 100%;
}
body.loading > *:not(#loading) {
  display: none !important;
}
body:not(.loading) #loading {
  display: none;
}
/** End Loading **/


/** Page-specific changes **/
.page-about #eraMenu{
  display: none;
}
.page-about #topBar{
  background-color: var(--magenta);
}
.page-about .title {
  width: calc(var(--ncols) * 1rem - 2rem);
  height: calc(1rem + 1px);
  padding: 3px 0.5rem;
  font-size: 0.6rem;
  margin-bottom: -2px;
}

.page-about .background, .page-timeline .background, .page-home .background {
  height: 100vh;
  width: calc(var(--unit) * var(--ncols) + 1px);
  overflow: hidden;
  z-index: -1;
  position: fixed;
  top: 2rem;
  margin: 0;
  padding: 0;
}
.page-home #container {
  padding-top: 1rem;
}
.page-home p:first-child {
  margin-top: 0.2rem;
}
#page-timeline {
  display: grid;
  grid-template-columns: 12rem 1fr;
  align-items: start;
}
/** End Page-specific changes **/


/** Top bar **/
#topBar {
  height: 2rem;
  display: flex;
  position: sticky;
  top: 0;
  padding: 0 2rem;
  justify-content: space-between;
  z-index: 3;
  background-color: white;
}
#topBar > * {
  margin-top: 0.6rem;
}
/** End Top bar **/

/** Containers **/
#container {
  margin: 0 auto;
  max-width: calc(var(--unit) * var(--ncols) + 2rem);
  min-height: calc(100vh - 3rem);
}
.box {
  background-color: white;
  border: 2px solid black;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}
/** End Containers **/

/** Home page (h prefix) **/
#hTitle {
  width: calc(24rem + 1px);
  margin-left: 1rem;
  margin-top: 0rem;
  height: calc(5rem + 1px);
}
#hSubtitle {
  width: calc(28rem + 1px);
  margin-left: 2rem;
  margin-top: calc(1rem - 1px);
  height: calc(4rem + 1px);
}
#hEnticement {
  width: calc(21rem + 1px);
  margin-left: 8rem;
  margin-top: calc(2rem - 1px);
  height: calc(5rem + 1px);
  padding-top: 0.1rem;
}
#hOverview {
  width: calc(21rem + 1px);
  margin-left: 4rem;
  margin-top: calc(3rem - 1px);
  height: calc(51rem + 1px);
}
#hExample {
  width: calc(28rem + 1px);
  margin-left: 2rem;
  margin-top: calc(2rem - 1px);
  margin-bottom: 1rem;
  height: calc(14rem + 1px);
}
#hExample img {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin-top: 1rem;
}
#hExample p {
  display: inline-block;
  width: 48%;
  border-left: 2px solid black;
  padding: 0.5rem 0 0.5rem 1rem;
  margin-left: 1rem;
}
/** End Home page **/

/** Era menu **/
#eraMenu {
  position: absolute;
  right: calc(-3rem + 1px);
  top: 0;
  width: 5rem;
  z-index: 2;
}
#eraMenu .showing {
  width: 6rem;
  right: 1rem;
}
#eraMenu a {
  display: block;
  border: 2px solid black;
  border-radius: 0;
  color: black;
  position: relative;
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  box-sizing: border-box;
  text-align: left;
  padding: 0.3rem 0.2rem;
  height: calc(2rem + 1px);
}
#eraMenu a:nth-child(2) {
  bottom: 2px;
  height: calc(2rem + 2px);
}
#eraMenu a:nth-child(3) {
  bottom: 4px;
  height: calc(2rem + 2px);
}
.activeEra1 #eraMenu a:first-child {
  width: 5.5rem;
  right: 0.5rem;
}
.activeEra2 #eraMenu a:nth-child(2) {
  width: 5.5rem;
  right: 0.5rem;
}
.activeEra3 #eraMenu a:nth-child(3) {
  width: 5.5rem;
  right: 0.5rem;
}
/** End Era menu **/

/** Timeline of events **/
#timeline {
  width: calc(18rem + 2px);
  padding: 1rem 0rem;
  scrollbar-width: none;
}
#timeline img {
  max-width: 14rem;
  cursor: pointer;
  max-height: 60vh;
  margin: 0 auto;
}
#timeline h3, #timeline h4 {
  padding: 0 1rem;
}

.era {
  padding-top: 1rem;
}
#border {
  height: 0px;
  border-top: 2px solid black;
  position: sticky;
  top: 2rem;
  margin-top: calc(-1rem - 2px);
  width: 19rem;
  margin-left: -1rem;
}

#events {
  /* This is silly, but it's a easy workaround to allow the last 
     event to be highlighted by scrolling */
  margin-bottom: 12rem;
}
#events ol {
    list-style: none;
    padding: 0;
}
.event {
  margin: 3rem 0rem;
  padding: 1rem;
}
.activeEra1 .event.active {
  background: var(--lightYellow);
}
.activeEra2 .event.active {
  background: var(--lightOrange);
}
.activeEra3 .event.active {
  background: var(--lightMagenta);
}
/*
.event.active {
  border-radius: 0.3rem;
  border: 0.5rem solid var(--yellow);
  border-width: 0.5rem 0;
}
.activeEra1 .event.active {
  border-color: var(--yellow);
}
.activeEra2 .event.active {
  border-color: var(--orange);
}
.activeEra3 .event.active {
  border-color: var(--magenta);
}
*/
.eventImage {
  margin-bottom: 0.5rem;
  text-align: center;
}
.eventTitle {
  font-family: "gloockregular", serif;
  font-size: 0.7rem;
}
.eventTitle .tagIcon {
  padding: 0 0.1em;
}
/** End Timeline of events **/

/** Event context **/
#context {
  width: 12rem;
}

#context .box {
  padding: 0;
  border-width: 1px 0px 0px 1px;
}
#legend .box {
  font-size: 0.9em;
}
#legend .tagIcon {
  width: 1rem;
  display: inline-block;
  text-align: center;
}
#context .box.tag {
  padding: 0.1em;
}
.tag.selected {
  border-right-width: 1px !important;
  transform: translate(6px, -6px);
  box-shadow: -6px 6px 0 1px black;
}
#year {
  position:absolute;
  right: 0;
  z-index: 2;
  width: 3.5rem;
  font-family: gloockregular;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2rem;
  height: 2rem;
  border-width: 2px;
}
.activeEra1 #year {
  background-color: var(--yellow);
}
.activeEra2 #year {
  background-color: var(--orange);
}
.activeEra3 #year {
  background-color: var(--magenta);
}
#bigYear {
  position: fixed;
  top: 35vh;
  left: 0;
  z-index: 5;
  font-family: gloockregular;
  font-size: 8rem;
  text-align: center;
  width: 100%;
  text-shadow: 0 0 3em white;
  pointer-events: none;
}
/** End Event context **/

/** Image grid nav **/
.imageContainer {
  width: calc(12rem + 1px);
  margin: 0;
  padding: 0.5rem 1rem 0;
  border-right-width: 1px;
}
.imageGrid {
  width: 10rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  position: relative;
}
.imageThumb {
  border: 1px solid black;
  box-sizing: border-box;
  max-width: calc(10rem / 6);
  height: calc(10rem / 6);
  cursor: pointer;
  background: transparent;
  padding: 0;
}
#nav .imageContainer:not(:last-child) .imageThumb:nth-last-child(-n+6) {
  border-bottom-width: 0;
}
#nav .imageContainer:not(:nth-child(2)) .imageThumb:nth-child(-n+7) {
  border-top-width: 0;
}
.imageThumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
  filter: grayscale(100%);
}
.imageThumb:hover {
  transform: scale(1.3);
  position: relative;
  z-index: 4;
  border-width: 1px !important;
}
.imageThumb:hover img, .imageThumb.showing img{
  filter: grayscale(0%);
  opacity: 1.0 !important;
}
.eraName {
  position: absolute;
  right: 0;
  transform: rotate(270deg);
  transform-origin: top right;
  font-style: italic;
  font-size: 0.9em;
  padding-right: 1em;
}

#era2Nav {
  padding-top: 0;
  border-top-width: 0;
}
#era2Nav .box {
  border-bottom-width: 0;
}

#era3Nav {
  padding-top: 0;
  padding-bottom: 0.5rem;
  border-top-width: 0;
}
#era2Nav .box, #era3Nav .box {
  border-top-width: 0;
}

/** End Image grid nav **/

/** Era timeline **/
#eraTimeline {
  width: 1rem;
  height: calc(100vh - 2rem);
  position: absolute;
  right: -23rem;
  top: 0;
}
#eraTimeline .box {
  padding: 0;
}
#eraTimeline .box:nth-child(2), #eraTimeline .box:nth-child(3) {
  border-top-width: 0;
}
#firstLabel, #lastLabel {
  font-family: gloockregular;
  position: absolute;
  right: 1rem;
  padding: 0.2em;
}
#firstLabel {
  top: 0rem;
}
#lastLabel {
  bottom: 0rem;
}

/** End Era timeline **/

/** To be organized **/
.gridded {
  position: relative;
}
canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
#aboutContent {
  margin-left: 12rem;
  width: 18rem;
}

#startTimeline {
  width: calc(3rem + 2px);
  height: calc(3rem + 1px);
  padding: 0;
  position: relative;
  display: inline-block;
  bottom: calc(2rem + 1px);
  overflow: hidden;
  left: calc(100% - 4rem - 1px);
}
#startTimeline svg {
  width: 1.5rem;
  margin-left: 0.75rem;
  height: 3rem;
}


#fixedContent {
  position: sticky;
  top: 2rem;
  width: 12rem;
  z-index: 4;
}

#lightbox {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  padding-top: 5%;
  cursor: pointer;
}
#lightbox img {
  margin: 0 auto;
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
  border: 4px solid white;
  box-shadow: 0 0 20px 0 #000;
}
#lightbox span {
  position: absolute;
  top: 1rem;
  right: 1rem; 
  color: white;
}
#lightboxClose {
  display: block;
  color: white;
  text-decoration: underline;
  width: 4rem;
  margin: 0 auto;
  text-align: center;
}

.hButton {
  display: inline-block;
  height: 2rem;
  position: relative;
  top: calc(3rem - 1px);
  border-bottom-width: 0px;
  padding: 0;
  line-height: 1.9rem;
  text-align: center;
}
#jumpToTimeline {
  width: calc(6rem + 1px);
  background: var(--yellow);
  left: calc(14rem - 5px);
  text-decoration: none;
}
#jumpToTimeline svg {
  vertical-align: middle;
  margin-left: 0.2em;
}
#introPointer {
  width: calc(5rem + 1px);
  background: var(--orange);
  left: 4rem;
}
#introPointer svg {
  transform: rotate(90deg);
  vertical-align: middle;
  margin-right: 0.2em;
}

/** Mobile stuff **/
#link-menu {
  cursor: pointer;
  display: none;
  text-decoration: underline;
}

#mobile {
  display: none;
}

@media (min-width: 961px) {
  #link-eraTop, #mobileMenu, #mobileContext {
    display: none;
  }
}


@media (max-width: 960px) {
  .page-timeline #link-menu {
    display: inline-flex;
    width: auto;
  }
  #topBar {
    border-bottom: 2px solid black;
    height: 1.5rem;
  }
  #topBar > * {
    margin-top: 0.35rem;
  }
  #container {
    padding: 0 1rem;
  }
  #border {
    display: none;
  }
  #fixedContent {
    display: none;
  }
  #page-timeline, #page-about, #page-home {
    display: block;
    width: 100%;
    min-width: 250px;
  }
  #timeline {
    width: auto;
    border-top-width: 0;
  }
  #timeline img {
    max-width: 100%;
  }
  #link-eraTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 1.3rem;
    height: 1.3rem;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
  }
  .background {
    margin-left: -1rem !important;
    top: 1.5rem !important;
    width: 100% !important;
  }
  #mobileContext {
    height: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
    display: flex;
    padding: 0 1rem;
  }
  #mobile {
    position: sticky;
    top: 1.5rem;
    border-bottom: 2px solid black;
    margin: -1rem;
    font-family: gloockregular;
    display: block;
  }
  #mobileContext .tagIcon:first-of-type {
    margin-left: auto;
  }
  .activeEra1 #mobileContext {
    background-color: var(--yellow);
  }
  .activeEra2 #mobileContext {
    background-color: var(--orange);
  }
  .activeEra3 #mobileContext {
    background-color: var(--magenta);
  }
  .eventTitle {
    display: none;
  }
  #mobileMenu {
    position: sticky;
    top: 1.5rem;
  }
  #mobileMenu a {
    display: block;
    padding: 0.4em 1em;
    text-decoration: none;
    border-bottom: 1px solid black;
  }

  #aboutContent {
    margin-left: 0;
    width: auto;
    border-top: 0;
  }
  .page-about .title {
    width: auto;
    height: auto;
    margin: 0 -1rem;
    border-width: 0 0 2px 0;
  }
  #hTitle, #hSubtitle, #hEnticement, #hOverview, #hExample {
    width: auto;
    margin-left: 0rem;
    margin-top: 0rem;
    height: auto;
    border-bottom: 0px;
  }
  #hButtons {
    border-top: 2px solid black;
    display: flex;
    font-size: 0.8em;
    line-height: 2rem;
  }
  .hButton {
    position: initial;
    border-top-width: 0;
    overflow: hidden;
  }
  #jumpToTimeline {
    margin-left: auto;
  }
  #hExample {
    border-bottom: 2px solid black;
  }
  #hExample img {
    display: block;
    margin-top: 1rem;
    width: auto;
    max-width: 100%;
  }
  #hExample p {
    display: block;
    border: 0;
    padding: 0;
    margin: 1rem 0;
    width: auto;
  }
  #startTimeline {
    left: calc(100% - 3rem - 2px);
  }
}
/** End Mobile stuff **/